
.caja{
  width: 300px;
  height: 300px;
  display: flex;
  padding: 20px 15px;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.caja__emoji{
  font-size: 30px;
}

.caja__heading{
  font-family: var(--heading);
  font-weight: 600;
  font-size: 22px;
}